p
    | Xin Qin from USC
    | Feb 29, 2024
    | Cyber-Physcial Systems = system with software and hardware operating in the real world
    | Cyber-physcial systems are safety-critical. Lecture will be about verification of cyber-physical systems
    | Challenges in verification:
    | - Uncertain environment
    | - System is a black box
    | - Temporal requirements
    | - Scalability
    |
    | Predictive runtime verification of cyber-physcial system:
    | - Monitor the system while it is running, alert before the error happens
    | - How to do this without Markov assumption and without parametric model
    | 
    | Agenda: Statistical verification, predictive runtime verifictation, shape expressions, future work
    | Conformal Inference
    | What is a stochastic system? "Consider a stochastic system with learning enabled components"
    | 