doctype html
html(lang="en_us")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="author" content="Brody Liudzius")
        meta(name="description" content="Decision trees in machine learning")

        script(type="text/javascript" id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-mml-chtml.js")
    
    body
        h1 Title
            p This is a test of mathjax. Here is an equation \( ax^2 + bx + c \).
