extends /default.pug

block title
    title CECS 456

block main
    h1 CECS 456 - Machine Learning
    hr

    p
        | Notes from CECS 456 at CSULB with #[a(href="https://www.linkedin.com/in/amir-ghasemkhani-6116a666/") Dr. Amir Ghasemkhani], Spring 2024.

    h2 Chapter 3
    ul
        li: a(href="./Chapter_3/Decision_Tree_Induction") Decision Tree Induction