extends /default.pug

block title
    title CECS 463

block main
    h1 CECS 463 - Digital Signal Processing
    hr

    p
        | Notes from CECS 463 at CSULB with #[a(href="https://www.linkedin.com/in/amehrnia/") Dr. Alireza Mehrnia], Spring 2024.

    h2 Introductory Material & Review
    ul
        li: a(href="./Complex_Numbers") Complex Numbers
    
    h2 Chapter 2
    ul
        li: a(href="./Sinusoids") Sinusoids
        li: a(href="./Phasors") Phasors