extends /default.pug

block main
    h1 CECS 463 - Digital Signal Processing
    hr

    p
        | Notes from CECS 463 at CSULB with #[a(href="https://www.linkedin.com/in/amehrnia/") Dr. Alireza Mehrnia], Spring 2024.

    h2 Chapter 2
    ul
        li: a(href="/CECS_456/Chapter_2/Sinusoids") Sinusoids