extends /default.pug

//- #toDo: Populate table of Contents

block title
    title Sinusoids

append header
    p: a(href="/CECS_463") CECS 463

block main
    article
        h1 Sinusoids
        hr

        +tableOfContents()
            

        section#Introduction
            p
        

        section#Invers_Euler_Formulas
            h2 Inverse Euler Formulas
            p
                | When solved separately for the sine and cosine terms, Euler's Formula can be transformed into the #[dfn Inverse Euler Formulas].
                | These formulas allow sine and cosine fuctions to be written as a sum of of complex exponentials.
                | This can be usefule for decomposing things like a product of a sine and cosine function into a sum of sinusoids.
        