extends /default.pug

block title
    title CECS 229

block main
    h1 CECS 229 - Discrete Structures II
    hr

    p Notes from CECS 229 at CSULB with #[a(href="https://www.linkedin.com/in/mahshid-fardadi/") Dr. Mahshid Fardadi], Fall 2022.
    p This page is still under construction.
    //- #toDo: Populate 229 folder with notes

    h2 Modular Arithmetic
    ul
        
    h2 Matrix Arithmetic
    ul

    h2 Spaces and Subspaces
    ul