extends /default.pug

block main
    h1 CECS 229 - Discrete Structures II
    hr

    p
        | Notes from CECS 229 at CSULB with Dr. Mahshid Fardadi, Fall 2022.

    h2 Modular Arithmetic
    ul
        li: a(href="/CECS_456/Decision_Tree_Induction.html") Decision Tree Induction
    h2 Matrix Arithmetic
    ul
    h2 Spaces and Subspaces