extends /default.pug

//- #toDo: Populate table of Contents

block title
    title Sinusoids

append header
    p: a(href="/CECS_463") CECS 463

block main
    article
        h1 Sinusoids
        hr

        +tableOfContents()
            

        h2 Introduction