extends /default.pug

block title
    title CECS 326

block main
    h1 CECS 326 - Operating Systems
    hr

    p
        | Notes from CECS 326 at CSULB with #[a(href="https://www.xuhailu.com/") Dr. Hailu Xu], Spring 2024.

    h2 Processes
    ul
        li: a(href="./Pipes") Pipes
    


