extends /default.pug

block title
    title CECS 347

block main
    h1 CECS 347 - Embedded Systems II
    hr

    p
        | Notes from CECS 347 at CSULB with #[a(href="https://www.linkedin.com/in/shiningfuture2012/") Dr. Min He], Spring 2024.
    p
        | This course uses the Tiva C Series Launchpad development board.
        | The board utlizies a TM4C123GH6PM microcontroller, a Cortex M4 processor from Texas Instruments.
    //- #toDo: Populate 347 folder with notes

    h2 Microcontroller Documentation
    ul
        li: a(href="https://www.ti.com/lit/ds/symlink/tm4c123gh6pm.pdf") TM4C123 Datasheet
        li: a(href="https://www.ti.com/lit/ug/spmu296/spmu296.pdf?ts=1709488439453") Tiva C Series TM4C123G Launchpad User Guide
    
    hr

    section
        h2 Course Topics

        h2 ARM Architecture
        ul
            li: a(href="./ARM_Cortex_M4_Architecture") ARM Cortex M4 Overview

        h3 GPIO
        ul
            li Link 1
            //- #toDo: Complete these sections
        
        h3 Interrupts
        ul
            li Link 1
        
        h3 Timers
        ul
            li Link 1
            li Link 2

        h3 Sensors
        ul
            li Link 1
            li Link 2



