extends /default.pug

append scripts

//- #toDo: Add menu system

block title
    title Dining Hall Menus

block main
    h1 CSULB Dining Hall Menus
    center: small: em This is an unofficial, student-operated webpage and has no direct affiliation with CSULB
    hr

    p
        | This page will show you today's dining hall menus at CSULB.
        | It is simply a more convenient-to-use version of the school's #[a(href="https://www.csulb.edu/beach-shops/residential-dining-menus") menu website].
        | As a small disclaimer, the school's posted menus are not always accurate, and this page is only as good as the source menu.
    h4: center
        | Sorry, this page is still under construction